<!DOCTYPE html>
<html>
<head>
    <link href="/static/css/nv.d3.css" rel="stylesheet" type="text/css">
    <link href="/static/css/smm.css" rel="stylesheet" type="text/css">
    
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/socket.io.js"></script>
    
    <script src="/static/js/d3.v3.js"></script>
    <script src="/static/js/nv.d3.min.js"></script>
    <script src="/static/js/smm.js"></script>
    
    <title>Hello</title>

</head>
<body>

<input id="keyords" type="text">
<button id="track">track</button>

<div class='row'>
    <div id='totals' >
        <div id="countChart" class='totalsChart chart'  >
            <header>Tweet count in %</header>
            <svg></svg>
        </div>

        <div id="sumChart" class='totalsChart chart' >
            <header>Polarity sums</header>
            <svg></svg>
        </div>

    </div>

    <div id="trendChart" class="chart" >
        <header>Polarity trend over time</header>
        <svg></svg>
    </div>

</div>

<div id="polarityChart" class="chart" >
    <header>Polarity distribution over time</header>
    <svg></svg>
</div>





<script>
    
    SMM.streamChannel.listen();
    SMM.charts.init();
    
</script>

</body>
</html>
