<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
<input id="keyords" type="text">
<button id="track">track</button>
<div id="content"></div>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/static/js/socket.io.js"></script>

<script>


  var stream = io.connect('/stream');


  stream.on('stream_update', function (data) {
    $('#content').append('<p>' + data.polarity + ' : '+ data.text + '</p>');
  });

  $('#track').click(function(){
    $('#content').html('');
    stream.emit('track',$('#keyords').val());
  });

  setInterval(function(){stream.emit('ping')},2000);


</script>

</body>
</html>